<a href="https://colab.research.google.com/github/cforestw/test/blob/master/Untitled7_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

06-Built-in-Data-Structures.ipynb

https://github.com/jakevdp/WhirlwindTourOfPython/blob/master/06-Built-in-Data-Structures.ipynb

In [0]:
def test(A, B):
  C=A+B
  return C

A=[1,2,3]
B=[5,6,7]
print(test(A,B))

[1, 2, 3, 5, 6, 7]

In [0]:
l=[4,3,2,1]
print(len(l) ,l)
l.append(7)
print(len(l) ,l)
l += [10,11]
print(len(l) ,l)
l.sort()
print(len(l) ,l)
l.sort(reverse=True)
print(len(l) ,l)

In [0]:
l=[1,"tow",3.14,[0,3,5]]
print(l)
print(l[3])
l=[2,3,5,6]
print(l[1])
print(l[-1])
print(l[-2:])
print(l[2:3])
print(l[2:])
#print(l[::4])
l[0]=1000
print(l)
del l[1]
print(l)

[1, 'tow', 3.14, [0, 3, 5]]
[0, 3, 5]
3
6
[5, 6]
[5]
[5, 6]
[1000, 3, 5, 6]
[1000, 5, 6]

In [0]:
t = (1,2,3)
print(type(t))
print(len(t),t)
print(t[1])
#t[0]=100
t.append(4)
print(len(t),t)

In [4]:
x=3.14
x.as_integer_ratio()
n,d =x.as_integer_ratio()
print(n,d,n/d)

x=0.25
x.as_integer_ratio()
n,d =x.as_integer_ratio()
print(n,d,n/d)

7070651414971679 2251799813685248 3.14
1 4 0.25

In [8]:
n={"one":1,"two":2,"three":3}
print(n)
print(n["two"])
n["four"]=4
print(n)

{'one': 1, 'two': 2, 'three': 3}
2
{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [16]:
p={2,3,4,7}
o={1,3,5,7,8}
print(p,o)
print(p | o) #or
print(p.union(o)) #or

print(p & o) #and
print(p.intersection(o)) #and

print(p - o)
print(p.difference(o))

print(p ^ o) #nand
print(p.symmetric_difference(o)) #nand

{2, 3, 4, 7} {1, 3, 5, 7, 8}
{1, 2, 3, 4, 5, 7, 8}
{1, 2, 3, 4, 5, 7, 8}
{3, 7}
{3, 7}
{2, 4}
{2, 4}
{1, 2, 4, 5, 8}
{1, 2, 4, 5, 8}